/* {
  transition: all 0.5s, linear;
  /* -webkit-transition: all 1s ease;
  -moz-transition:    all 1s ease;
  -ms-transition:     all 1s ease;
  -o-transition:      all 1s ease; 
} */

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Domine", serif;
}

p {
  font-size: 30px;
  padding: 0;
}

form {
  /* margin-top: 20px; */
}

input {
  border-radius: 5px;
}

span {
  display: inline-block;
  padding: 0 10px 10px 0;
  text-align: center;
}

.pure-button {
  border-radius: 5px;
}

.center {
  text-align: center;
}

.hide {
  display: none;
  visibility: hidden;
}

.invisible {
  visibility: hidden;
}

.no-opacity {
  opacity: 0;
}

.green {
  color: #14ad1c;
}

.red {
  color: #ED4C4C;
}

#container {
  width: 80%;
  margin: auto;
}

#timer-div {
  height: 60px;
  /* padding-bottom: 15px; */
}

#time-left {
  transition: opacity 0.2s linear;
}

#scramble {
  display: inline-block;
  margin-bottom: 15px;
}

/* #scramble-div {
} */

#time-left {
  display: inline-block;
  width: 150px;
  font-size: 50px;
  font-weight: 700;
  color: #14ad1c;
  text-align: center;
  padding: 10px 5px;
  margin-bottom: 15px;
}

#versa-div {
  display: block;
  height: 35px;
}

#msg-div {
  height: 48px;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#msg {
  transition: opacity 0.2s linear;
  font-size: 18px;
  font-weight: 600;
}

#msg-div p {
  padding: 0;
  margin: 0;
}

#rearrange-btn {
  display: block;
  margin: 0 auto;
}

#submit-btn {
  display: block;
  margin: 10px auto;
}